black==24.4.2 ; python_full_version == "3.12.3"
click==8.1.7 ; python_full_version == "3.12.3"
colorama==0.4.6 ; python_full_version == "3.12.3"
mypy-extensions==1.0.0 ; python_full_version == "3.12.3"
packaging==24.0 ; python_full_version == "3.12.3"
pathspec==0.12.1 ; python_full_version == "3.12.3"
platformdirs==4.2.2 ; python_full_version == "3.12.3"
